<% include header%>
<div class="about">
    <div class="aheader">
        <h1>张艳玲</h1>
        <h2>kelly</h2>
        <img src="images/2.png" alt="">
        <p>node工程师</p>

    </div>
    <p >毕业于郑州大学西亚斯国际学院，主修经济学专业，精通金融、证券、股票等方面的知识,熟悉软件工程专业，熟悉Asp.Net、Node.js、JavaScript、div+css等相关技术，具备Web全栈开发能力。
        爱好上网和游戏，完美主义者，细节控。软件工程专业，熟悉Asp.Net、Node.js、JavaScript、div+css等相关技术，具备Web全栈开发能力。
        爱好上网和游戏，完美主义者，细节控。软件工程专业，熟悉Asp.Net、Node.js、JavaScript、div+css等相关技术。</p>
</div>
<% include footer%>