<%- include header%>
<form class="login" action="" method="post">
    <label >用户：</label><input type="text" name="name"><br>
    <label >密码：</label><input type="password" name="password"><br>
    <input  type="submit" value="登录">
</form>
<%- include footer%>