<%- include header%>
<form class="reg" action="" method="post">
    <label >用户：</label><input type="text" name="name"><br>
    <label >密码： </label><input type="password" name="password"><br>
    <label >确认： </label><input type="password" name="password_re"><br>
    <label >邮箱： </label><input type="email" name="email"/><br />
    <input type="submit" value="注册">
</form>
<%- include footer%>